---
export const prerender = false;
import { APP_NAME } from "@runner/utils";
import CreateEventForm from "../../forms/CreateEventForm.tsx";
import SiteLayout from "../../layouts/SiteLayout.astro";

// Need to be logged in first
if (!Astro.locals.user) {
  return Astro.redirect(`/login?redirect=${encodeURIComponent(Astro.url.href)}`);
}
---

<SiteLayout title="Create Event">
  <main class="mx-auto max-w-7xl flex-1 px-4 py-16 sm:px-6 lg:px-8">
    <h1>Create Event</h1>
    <p>
      Congrats on your new event! Lets start by getting some basic information about it. An "Event" in {APP_NAME} is a collection of "Races"
      that will be run by participants in your event.
    </p>
    <CreateEventForm client:load />
  </main>
</SiteLayout>

