---
import { APP_NAME } from '@runner/utils';

interface Props {
  title: string | null;
  bodyClass?: string;
}

const { title, bodyClass } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | ${APP_NAME}` : APP_NAME}</title>
  </head>
  <body class={bodyClass}>
    <slot />
  </body>
</html>
