---
import SignUpForm from "../components/SignUpForm.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Signup">
  <div class="grid h-screen items-center justify-center bg-slate-50">
    <div class="mb-[10vh] max-w-[500px] p-12">
      <div>
        <h1 class="text-3xl font-extrabold tracking-tight text-gray-900">
          Sign up
        </h1>
        <p class="mt-2 text-sm text-gray-500">
          Lets get you up and running! Fill out the form below to get started.
        </p>
      </div>
      <SignUpForm client:only="react" />
      <p class="mt-8 text-center text-sm text-gray-500">
        Already have an account? <a href="/login" class="font-bold">Login</a>
      </p>
    </div>
  </div>
</Layout>
