---
interface Props {
  title: string;
  subtitle: string;
  color: string;
}

const { title, subtitle, color } = Astro.props;
---

<div
  class="bg-white border border-gray-200 rounded-xl p-6 text-center hover:shadow-xl transition-all"
>
  <div class="flex justify-center mb-4">
    <div class={`bg-${color}-50 p-4 rounded-full`}>
      <slot name="icon" />
    </div>
  </div>
  <h2 class="text-2xl font-bold mb-3 text-gray-900">{title}</h2>
  <p class="text-gray-600 mb-6">{subtitle}</p>
  <slot name="cta" />
</div>
