---
import { APP_NAME } from "../constants/strings.ts";
---

<footer class="bg-gray-50 border-t">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 text-center">
    <p class="text-gray-600">
      &copy; 2024 {APP_NAME}. All rights reserved.
    </p>
  </div>
</footer>
